<div class="[ footer-top ]">
  <div class="[ container ]">
    <div class="[ row ]">
      <div class="[ col-sm-4 ]">
        <p class="[ footer-text ]"> SERVICES</p>
        <ul class="[ footer-list ]">
            <a href="services"><li>Web Development</li></a>
            <a href="services"><li>Mobie Apps Development</li></a>
            <a href="services"><li>Quality Assurance</li></a>
            <a href="services"><li>DevOpps Services</li></a>
            <li>Frontend Development</li>
            <li>Backend Development</li>
            <li>Graphics Designing</li>
            <li>UI/UX Designing</li>
            <li>Word press</li>
            <li>E-commerence</li>
            <li>CMS Development</li>
        </ul>
      </div>
      <div class="[ col-sm-4 ]">
        <p class="[ footer-text ]">CONTACT</p>
        <div class="[ footer-center-section ]">
            <span>Gladeveien 18C, 1065 Oslo.</span><br>
            <span>+47 93 94 44 76.</span>
        </div>
        <div class="[ footer-center-section ]">
            <p class="[ footer-text footer-text-normal ]"><b>Feel free to drop us a note</b></p>
            <a href="contact"><p  class="[ footer-text footer-text-normal  footer-text-normal-black ]">hello@digitify.no</p></a><br>
            <a href="https://www.facebook.com/digitify.as/"><img class="[ footer-icon ]" src="../../../assets/icons/facebook.png"></a>
            <a href="https://twitter.com/Iffatahmed21"><img class="[ footer-icon ]" src="../../../assets/icons/twiter.png"></a>

        </div>
      </div>
      <div class="[ col-sm-4 ]">
        <img class="[ footer-img ]" src="../../../assets/address_img.png">
      </div>
    </div>
  </div>


</div>
<div class=" [ row ]">
    <div class="[ contact-stripe  ]">
     <div class=" [ container ] ">
        <span class="[ float-left ]">All rights Reserved by Digitify AS</span>
        <a href="contact"><button class="[ float-right btn btn-outline-light ]">Contact us</button></a>
        </div>
    </div>
  </div>