@import "../../../variables.scss";


.nav{
    
    &bar{
        
        &-light{
            background-color: white !important;
        }
        &-brand{
            & img {
                max-width: 50px;
            }
        }
        &-toggler{
            background-color: $base-colour;
            
            &-icon{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
            
        }
    }
    &-link{
        color: $base-colour !important;
        &:hover{
            color: gray !important;
        }
    }
}
.header-border{
    border-bottom: #b00404 1px solid;
}
.company-name{
    font-family: $main-font;
    color: $base-colour;
    font-size: 35px;
    font-weight: bolder;
}


/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .company-name{
        font-size: 15px;
    }
    .navbar{
        &-brand{
            & img{
                max-width: 30px;
            }
            
        }
        &-toggler{
            font-size: 0.6rem;
        }
    }
}
/* iPad ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .company-name{
        font-size: 18px;
    }
    .navbar{
        &-brand{
            & img{
                max-width: 40px;
            }
            
        }
        &-toggler{
            font-size: 0.9rem;
        }
    }

}
