<section>  <!--contact-stripe-section-->
  <div class="[ row ]">
      <div class="[ contact-stripe  ]">
       <div class="[ container ] ">
          <span class="[ float-left contact-stripe-inner-text ]">Get instant feedback and estimation of your project</span>
          <a href="contact"><button class="[ float-right btn btn-outline-light ]">Let's Talk</button></a>
          </div>
      </div>
    </div>
</section>
<section class="[ main ]"> <!-- services section -->
  <div class="[ col-sm-12 ]"><h1 class="[ section-heading ]">SERVICES</h1></div> 
  <div class="[ container ]">
      <div class=" [ row  ] ">   
    <div class="[ col-sm-3 ]">
      <div class="[ main-service ]">
        <img class="[ main-icon ]" src="../../assets/icons/1x/Asset 1.png">
        <h4 class="[ my-h4 ]">Web development</h4>
        <p>Digitify offers cost effective and high quality web development services considering client's business process</p>
      </div>
    </div> 

    
    <div class="[ col-sm-3 ]">
        <div class="[ main-service ]">
          <img class="[ main-icon ]" src="../../assets/icons/phone2.png">
          <h4 class="[ my-h4 ]">mobile  <br> apps</h4>
          <p>We have dedicated team of professionals who can design and develop native or cross-platform apps. </p>
        </div>
    </div> 
      
    <div class="[ col-sm-3 ]">
        <div class="[ main-service ]">
          <img class="[ main-icon ]" src="../../assets/icons/ux.png">
          <h4 class="[ my-h4 ]">ui/ux  <br> design</h4>
          <p>Designing user journey is one of the key success parameters for businesses. We are a team of UX/UI designers who work with client closely.</p>
        </div>
    </div> 
  
    <div class="[ col-sm-3 ]">
      <div class="[ main-service ]">
        <img class="[ main-icon ]" src="../../assets/icons/mvp_devp.png">
        <h4 class="[ my-h4 ]">mvp development</h4>
        <p>Help startups develop a minimum viable product for their idea as a first step towards prototyping, before launching a fully commercial product in the market.</p>
      </div>
    </div> 
  </div>
</div>     
</section>
<section class="[ main ]">  <!--customer-engagement-plan-section-->
  <div>
    <h1 class="[ section-heading section-heading-alternate ]">customer engagement plans</h1>
  </div>
  <div class="[ container ]">
      <div class=" [ row  ] ">
      <div class="[ col-sm-4 ]">
          <div class="[ main-service main-service-inner ]">
            <h4 class="[ my-h4 ]">team  <br> augmentation</h4>
            <p>We can augment team(s) for special desires or needs.</p>
          </div>
        </div> 
        <div class="[ col-sm-4 ]">
            <div class="[ main-service main-service-inner ]">
              <h4 class="[ my-h4 ]">project outsourcing</h4>
              <p>We are a team that consists of competent persons with latest technological skillset.</p>
            </div>
          </div> 
          <div class="[ col-sm-4 ]">
              <div class="[ main-service main-service-inner ]">
                <h4 class="[ my-h4 ]">maintaince & support</h4>
                <p>Life time bug-free code support. Based  on the nature of task,  we may provide free  customer support too.</p>
              </div>
            </div> 
  </div>
  </div>
</section>