<section>  <!-- hero image area section -->
  <div class="[ row ]">
    <div class="[ col-sm-12 ]">
      <div class="[ hero ]">
          <div id="" class="[ carousel slide ]" data-ride="carousel">
              <div class="[ carousel-inner ]">
                <div class="[ carousel-item active ]">
                  <img class="[ d-block w-100 hero-img] " src="../../assets/hero_image.png">
                </div>
                <div class="[ carousel-item ]">
                  <img class="[ d-block w-100 hero-img ]" src="../../assets/full-width-banner.png">
                </div>
                <div class="[ carousel-item ]">
                  <img class="[ d-block w-100 hero-img ]" src="../../assets/headers_ideas.png">
                </div>
              </div>
            </div>
          <a href="contact">
              <button class="[ float-right btn btn-outline-light hero-btn ]">Esitmate your project</button>
          </a>
      </div>
    </div>
  </div>
</section>

<section class="[ main ]"> <!-- services section -->
  <div class="[ col-sm-12 ]"><h1 class="[ section-heading ]">SERVICES</h1></div> 
  <div class="[ container ]">
      <div class=" [ row  ] ">   
    <div class="[ col-sm-3 ]">
      <div class="[ main-service ]">
        <img class="[ main-icon ]" src="../../assets/icons/1x/Asset 1.png">
        <h4 class="[ my-h4 ]">Web development</h4>
        <p>Digitify offers cost effective and high quality web development services considering client's business process</p>
      </div>
    </div> 

    
    <div class="[ col-sm-3 ]">
        <div class="[ main-service ]">
          <img class="[ main-icon ]" src="../../assets/icons/phone2.png">
          <h4 class="[ my-h4 ]">mobile <br>apps</h4>
          <p>We have dedicated team of professionals who can design and develop native or cross-platform apps. </p>
        </div>
    </div> 
      
    <div class="[ col-sm-3 ]">
        <div class="[ main-service ]">
          <img class="[ main-icon ]" src="../../assets/icons/ux.png">
          <h4 class="[ my-h4 ]">ui/ux  <br>design</h4>
          <p>Designing user journey is one of the key success parameters for businesses. We are a team of UX/UI designers who work with client closely.</p>
        </div>
    </div> 
  
    <div class="[ col-sm-3 ]">
      <div class="[ main-service ]">
        <img class="[ main-icon ]" src="../../assets/icons/mvp_devp.png">
        <h4 class="[ my-h4 ]">mvp development</h4>
        <p>Help startups develop a minimum viable product for their idea as a first step towards prototyping, before launching a fully commercial product in the market.</p>
      </div>
    </div> 
  </div>
</div>     
</section>

<section class="[ main main-alternate ]">  <!--working-withus-sectiom-->
  <div class="[ col-sm-12 ]">
    <h1 class="[ section-heading ]">working with us you expect more</h1>
  </div>
  <div class="container">
  <div class=" [ row  ] ">
      <div class="[ col-sm-3 ]">
          <div class="[ main-service main-service-inner ]">
            <h4 class="[ my-h4 ]">process</h4>
            <p>At Digitify we follow agile methodologies for the development process, for example Scrum. We keep client updated regularly about the process. We discuss, and engage client to understand the requirements in the best possible way, and intend to deliver exactly what was required.</p>
          </div>
        </div> 
        <div class="[ col-sm-3 ]">
            <div class="[ main-service main-service-inner ]">
              <h4 class="[ my-h4 ]">technology</h4>
              <p>We aim to stay up-to-dated and provide services in the latest tech stack. We focus on NodeJS, React, Angular, Laravel, iOS and Android. We create solutions based on clients needs and budget.</p>
            </div>
          </div> 
          <div class="[ col-sm-3 ]">
              <div class="[ main-service main-service-inner ]">
                <h4 class="[ my-h4 ]">our team</h4>
                <p>We are bunch of brilliant and dedicated persons, who always try to give the best possible to the customers. We possess a mix of skills set including, artists, designers, developers, tester and solution experts.</p>
              </div>
            </div> 
            <div class="[ col-sm-3 ]">
                <div class="[ main-service main-service-inner ]">
                  <h4 class="[ my-h4 ]">qa</h4>
                  <p>Quality is our utmost priority when doing any small scale to large scale project. Since, we try to follow quality work standards from day one of the product development, therefore quality assurance becomes an essential element of the process.</p>
                </div>
              </div>   
  </div>
</div>
</section>

<section class="[ main ]">  <!--customer-engagement-plan-section-->
  <div class="[ container ]">
    <div><h1 class="[ section-heading ]">customer engagement plans</h1></div>
  </div>
  <div class="[ container ]">
      <div class=" [ row  ] ">
      <div class="[ col-sm-4 ]">
          <div class="[ main-service main-service-inner ]">
            <h4 class="[ my-h4 ]">team augmentation</h4>
            <p>We can augment team(s) for special desires or needs.</p>
          </div>
        </div> 
        <div class="[ col-sm-4 ]">
            <div class="[ main-service main-service-inner ]">
              <h4 class="[ my-h4 ]">project outsourcing</h4>
              <p>We are a team that consists of competent persons with latest technological skillset.</p>
            </div>
          </div> 
          <div class="[ col-sm-4 ]">
              <div class="[ main-service main-service-inner ]">
                <h4 class="[ my-h4 ]">maintaince & support</h4>
                <p>Life time bug-free code support. Based  on the nature of task,  we may provide free  customer support too.</p>
              </div>
            </div> 
  </div>
  </div>
</section>
<section>
    <div class="[ row ]">
        <div class="[ contact-stripe  ]">
         <div class="[ container ] ">
            <div class="[ col-sm-6 col-md-9 float-left contact-stripe-inner-text ]">Get instant feedback and estimation of your project</div>
            <div class="[ ]"><a href="contact"><button class="[ float-right btn btn-outline-light ]">Let's Talk</button></a></div>
            </div>
        </div>
      </div>
</section>
<section class="[ main ]">   <!--skill-set-section-->
  <div>
      <h1 class="[ section-heading ]">skillset we offer</h1>
  </div>
  <div class="[ container ]">
      <div class="[ row ]">
        <div class="[ col-sm-3 ]"></div>
        <div class="[ col-sm-6 ]">
          <img class="[ skills ]" src="./../../assets/icons/nodejs.png" /> 
          <img  class="[ skills ]" src="./../../assets/icons/react.png" />
          <img  class="[ skills ]" src="./../../assets/icons/mongoDb.png" />
          <img  class="[ skills ]" src="./../../assets/icons/php.png">
          <img  class="[ skills ]" src="./../../assets/icons/apache.png">
          <img  class="[ skills ]" src="./../../assets/icons/photoshop.png">
        </div>
        <div class="[ col-sm-3 ]"></div>
      </div>
      
    
    <div class="[ row ]">
      <div class="[ col-sm-3 ]"></div>
      <div class="[ col-sm-6 ]">
        <img class="[ skills ]" src="./../../assets/icons/illustrator.png">
        <img  class="[ skills ]" src="./../../assets/icons/html5.png">
        <img  class="[ skills ]" src="./../../assets/icons/css3.png">
        <img  class="[ skills ]" src="./../../assets/icons/css3.png">
        <img  class="[ skills ]" src="./../../assets/icons/bootstrap.png">
        <img  class="[ skills ]" src="./../../assets/icons/jquery.png">
      </div>
      <div class="[ col-sm-3 ]"></div>
    </div>
    
 
  <div class="[ row ]">
      <div class="[ col-sm-3 ]"></div>
    <div class="[ col-sm-6 ]">
      <img class="[ skills ]" src="./../../assets/icons/python.png">

      <img  class="[ skills ]" src="./../../assets/icons/java.png">

      <img  class="[ skills ]" src="./../../assets/icons/cpp.png">

        <img  class="[ skills ]" src="./../../assets/icons/php.png">

        <img  class="[ skills ]" src="./../../assets/icons/watch_ios.png">

        <img  class="[ skills ]" src="./../../assets/icons/android.png">
    </div>
    <div class="[ col-sm-3 ]"></div>
  </div>
  
</div>

  
</section>