<section>  <!--contact-stripe-section-->
    <div class="[ row ]">
        <div class="[ contact-stripe  ]">
         <div class="[ container ] ">
            <span class="[ float-left contact-stripe-inner-text ]">Get instant feedback and estimation of your project</span>
            <a href="contact"><button class="[ float-right btn btn-outline-light ]">Let's Talk</button></a>
            </div>
        </div>
      </div>
</section>
<section> <!--portfolio-body-section-->
  <div class="[ row ]">
      <div class="[ container ]">
        <h1 class="[ portfolio-body ]">portfolio</h1>
      </div> 
  </div>      
  <div class="[ row ]">
      <div class="[ container ]">
        <button class="[ btn btn-danger ]">All</button>
        <button class="[ btn btn-outline-danger portfolio-nav ]">Web Development</button>
        <button class="[ btn btn-outline-danger portfolio-nav ]">Mobile Apps</button>
        <button class="[ btn btn-outline-danger portfolio-nav ]">Graphics Design</button>
        <button class="[ btn btn-outline-danger portfolio-nav ]">UX/UI Design</button>
      </div> 
  </div>
  <div class="[ row ]">
    <div class="[ container d-flex portfolio-body]">
        <div class="[ col-sm-3 thumbnail ]">
            <img class="[ thumbnail-img ]" src="../../assets/thumbnails/prague.png" />
          </div>
          <div class="[ col-sm-3 thumbnail ]">
              <img class="[ thumbnail-img ]" src="../../assets/thumbnails/apps.png" />
            </div>
            <div class="[ col-sm-3 thumbnail ]">
                <img class="[ thumbnail-img ]" src="../../assets/thumbnails/Asset-2.png" />
              </div>
              <div class="[ col-sm-3 thumbnail ]">
                  <img class="[ thumbnail-img ]" src="../../assets/thumbnails/jwo.png" />
                </div>
              </div>
  </div>  
  <div class="[ row ]">
    <div class="[ container d-flex ]">
        <div class="[ col-sm-3 thumbnail ]">
            <img class="[ thumbnail-img ]" src="../../assets/thumbnails/nhk.png" />
          </div>
          <div class="[ col-sm-3 thumbnail ]">
              <img class="[ thumbnail-img ]" src="../../assets/thumbnails/logo_design-showcase.png" />
            </div>
            <div class="[ col-sm-3 thumbnail ]">
                <img class="[ thumbnail-img ]" src="../../assets/thumbnails/adnan.png" />
              </div>
              <div class="[ col-sm-3 thumbnail ]">
                  <img class="[ thumbnail-img ]" src="../../assets/thumbnails/multishop.png" />
                </div>
              </div>
  </div>   
</section>

<section> <!--portfolio-body-section-happycustomers-->
  <div class="[ row portfolio-alternate ]">
    <div class="[ container ]">
      <div class="[ portfolio-body ]">
        <h1>happy customer</h1>
      </div>
    </div>
  </div>
  <div class="[ container ]">
    <div class="[ carousel slide ]" data-ride="carousel" data-interval="3000">
        <div class="[ carousel-inner ]">
          <div class="[ carousel-item active ]">
          <div class="[ row portfolio-body ]">
              <div class="[ col ]"><img  class="[ carousal-img ]" src="../../assets/thumbnails/1x/NHK.png" alt="1 slide"></div>
              <div class="[ col ]"><img   class="[ carousal-img ]"src="../../assets/thumbnails/1x/Greets.png" alt="2 slide"></div>
              <div class="[ col ]"><img  class="[ carousal-img ]" src="../../assets/thumbnails/1x/adnan.png" alt="3 slide"></div>
              <div class="[ col ]"><img  class="[ carousal-img ]" src="../../assets/thumbnails/1x/byat.png" alt="3 slide"></div>
            </div>
          </div>
          <div class="[ carousel-item ]">
          <div class="[ row portfolio-body ]">
              <div class="[ col ]"><img  class="[ carousal-img ]" src="../../assets/thumbnails/1x/norsk_trefelling.png" alt="4 slide"></div>
              <div class="[ col ]"><img  class="[ carousal-img ]" src="../../assets/thumbnails/1x/jwo.png" alt="5 slide"></div>
              <div class="[ col ]"><img  class="[ carousal-img ]" src="../../assets/thumbnails/1x/pragueway.png" alt="6 slide"></div>
              <div class="[ col ]"><img  class="[ carousal-img ]" src="../../assets/thumbnails/1x/makesol.png" alt="6 slide"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

